<script id="server-control-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form role="form" action="/#">
          <div class="form-group">

            <div class="form-inline">
              <label for="portnumber">Echo Server</label>
              <span id="server-state" class="{{ stateClass }}">{{ serverState }}</span>
            </div>

            <input type="text" class="form-control {{ inputVisibility }}" id="portnumber"
                   placeholder="Enter port between 1024-65535"
                   value="{{ serverPort }}">
          </div>
          <div class="form-inline">
            <button type="submit" class="btn btn-default"
                    id="btnserver">{{ serverCommand }}
            </button>
            <span id="server-error" class="{{ serverErrorClass }}">{{ serverError }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
